body {
  background-image : url('../art/background.png');
  background-repeat: no-repeat;
  background-size: auto;
}

#Header{
  color:white;
  padding:5px;
  margin:5px;
  margin-left:30px;
  top:50px;
  position:fixed;
  width:700px;
}

#HeaderLink{
  font: 20px Arial, sans-serif;
  margin-left:50px;
  float:left;
  margin-top:5px;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

#HeaderSpace{
    font: 20px Arial, sans-serif;
    margin-left:50px;
    float:left;
    margin-top:5px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

#Logo{
  font: 30px Arial, sans-serif;
  font-weight: bold;
  float:left;
  color:white;
  text-decoration: none;
  margin-top:20px;
}

#HeaderLink:hover{
    color: rgba(255, 255, 255, 1);
}

#HeaderLink:active{
      color: rgba(255, 255, 255, 0.75);
}

#Box{
  background-color: rgba(0, 0, 0, 0.25);
  height: 835px;
  width: 1810px;
  margin: 50px;
  position:relative;
  border-radius: 25px;
}

#Title{
  font: 30px Arial, sans-serif;
  font-weight: bold;
  color:white;
  position:relative;
  left:805px;
  top:150px;
  width:200px;
}

#Text{
  margin:10px;
  background-color: rgba(255, 255, 255, .90);
  width: 900px;
  height:475px;
  border-radius: 25px;
  position: relative;
  top:175px;
  left:430px;
  padding:25px;
  font: 20px Arial, sans-serif;
}

p{
  text-align: center;
}
