body{
  background-image : url('../art/background.png');
  height:900px;
}

body::-webkit-scrollbar {
  display:none;
}

#Back{
  margin-left:50px;
  position:relative;
  top:25px;
  width:200px;
  height:60px;
  border:none;
  border-radius:15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background-color: #D9324A;
  font: 20px Arial, sans-serif;
  color:white;
  font-weight: bold;
  z-index: 2;
}

#Back:hover {
  background-color: #f55d73;
  box-shadow: 0px 15px 20px rgba(245, 93, 115, 0.4);
  transform: translateY(-7px);
}

#Back:active {
  background-color: #b0152b;
  box-shadow: 0px 15px 20px rgba(245, 93, 115, 0.4);
  transform: translateY(-7px);
}

#Back:focus{
  outline:none;
}

#Title{
  font: 50px Arial, sans-serif;
  color:white;
  position:relative;
  top:-67px;
  text-align: center;
}

li{
    list-style-type: none;
}

ul{
    max-height: 800px;
    height:800px;
    overflow: hidden;
    overflow-y: scroll;
    position:relative;
    top:-75px;
}

ul::-webkit-scrollbar {
  display:none;
}

#Entry{
  width:500px;
  height:200px;
  margin:auto;
  margin-top:60px;
  margin-bottom:40px;
  border-radius: 25px;
  background-color: rgba(200, 200, 200, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 40px rgba(0,0,0,.5);
  overflow:none;
}

#Number{
    font: 20px Arial, sans-serif;
    position:relative;
    top:25px;
    color: black;
    font-weight: bold;
    text-align: center;

}

#Name{
    font: 20px Arial, sans-serif;
    position:relative;
    top:45px;
    color: black;
    font-weight: bold;
    text-align: center;

}

#Points{
    font: 20px Arial, sans-serif;
    position:relative;
    top:70px;
    color: black;
    font-weight: bold;
    text-align: center;
}
